<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homepage web app{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/nav.css">

    {% block css %}
    {% endblock css %}

</head>
<body>

    {% block img %}
    {% endblock img %}

    {% block content %}
    {% endblock content %}

    {% block js %}
    {% endblock js %}

    <div id="navegador">
        <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/">Home</a></li>
        </ul>
    </div>
</body>
</html>